<div class="my-project">Projects</div>

<div class="main-portfolio-containers">

  <div class="image-and-description-container">
    <a href="https://github.com/leonardolucusi/MicroShop" style="text-decoration: none;" target="_blank">
      <div class="image-container">
        <img class="image1" src="assets/microshoplogo.png" alt="App feito com arquitetura de microsserviços">
      </div>
    </a>
    <div class="description-container">
      <p class="microshop-title">MicroShop</p>
      <p class="description-concept-title">E-commerce robusto e escalável em microsserviços, autenticação e autorização baseadas em JWT, sistema de gestão de usuários, produtos e pagamentos</p>
      <p class="description-subtitle">ASP.NET Core</p>
      <p class="description-text">Base sólida usando .NET 8, garantindo escalabilidade e desempenho otimizado</p>
      <p class="description-subtitle">Arquitetura Limpa</p> 
      <p class="description-text">Separação clara de responsabilidades e facilidade na manutenção e escalabilidade do sistema</p>
      <p class="description-subtitle">Microsserviços</p>
      <p class="description-text">
        <li class="description-text">ProductAPI: Gerencia o catálogo de produtos, criação, atualização, exclusão e consulta de produtos.</li>
        <li class="description-text">CartAPI: Gerencia o carrinho de compras dos usuários, adicionar, remover e visualizar itens no carrinho.</li>
        <li class="description-text">OrderAPI: Gerencia o processamento de pedidos, incluindo a criação e o acompanhamento de pedidos realizados pelos usuários.</li>
        <li class="description-text">Web: Camada de apresentação que interage com os microsserviços para fornecer uma interface amigável aos usuários.</li>
      </p>
      <p class="description-subtitle">Json Web Tokens</p>
      <p class="description-text">Autenticação e autorização de usuário, assinado digitalmente para garantir a integridade e confidencialidade</p>
      <p class="description-subtitle">Entity Framework Core</p> 
      <p class="description-text">Robusto para mapeamento objeto-relacional, facilitando a interação com o banco de dados</p>
      <p class="description-subtitle">Repositórios</p>
      <p class="description-text">Abstração da lógica de acesso aos dados, promovendo um design desacoplado e fácil de testar</p>
      <p class="description-subtitle">Interface Razor Views</p>
      <p class="description-text">Garantindo uma experiência fluida e responsiva para os usuários</p>
    </div>
  </div>

  <div class="image-and-description-container">
    <a href="https://github.com/leonardolucusi/pro-app/tree/main" style="text-decoration: none;" target="_blank">
      <div class="image-container">
        <img class="image1" src="assets/pro-app-logo.png" alt="Página de login do aplicativo Pro">
      </div> 
    </a>
    <div class="description-container">
      <p class="proapp-title">ProApp</p>
      <p class="description-concept-title">Oferece autenticação e autorização segura e eficiente, utilizando algoritmos de hash em conjunto com JSON Web Tokens (JWTs)</p>
      <p class="description-subtitle">ASP.NET Core</p>
      <p class="description-text">Base sólida usando .NET 8, garantindo escalabilidade e desempenho otimizado</p>
      <p class="description-subtitle">Interface Razor Views</p>
      <p class="description-text">Garantindo uma experiência fluida e responsiva para os usuários</p>
      <p class="description-subtitle">Json Web Tokens</p>
      <p class="description-text">Autenticação e autorização de usuário, assinado digitalmente para garantir a integridade e confidencialidade, senhas armazenadas em algoritmos hash</p>
      <p class="description-subtitle">Repositórios</p>
      <p class="description-text">Abstração da lógica de acesso aos dados, promovendo um design desacoplado e fácil de testar</p>
      <p class="description-subtitle">Entity Framework Core</p> 
      <p class="description-text">Robusto para mapeamento objeto-relacional, facilitando a interação com o banco de dados</p>
    </div>
  </div>

  <div class="image-and-description-container">
    <a href="https://github.com/leonardolucusi/Notes" style="text-decoration: none;" target="_blank">
      <div class="image-container">
        <img class="image1" src="assets/notes-logo.png" alt="Swagger Endpoints Notes App">
      </div>
    </a>
    <div class="description-container">
      <p class="notesapi-title">Notes API</p>
      <p class="description-concept-title">Organizar anotações, oferecendo uma solução robusta e escalável para o gerenciamento eficiente de dados</p>
      <p class="description-subtitle">ASP.NET Core</p>
      <p class="description-text">Base sólida usando .NET 8, garantindo escalabilidade e desempenho otimizado</p>
      <p class="description-subtitle">Arquitetura Limpa</p> 
      <p class="description-text">Separação clara de responsabilidades e facilidade na manutenção e escalabilidade do sistema</p>
      <p class="description-subtitle">CQRS</p>
      <p class="description-text">Separação de operações de leitura e escrita, otimizando o desempenho e a organização do código</p>
      <p class="description-subtitle">Entity Framework Core</p> 
      <p class="description-text">Robusto para mapeamento objeto-relacional, facilitando a interação com o banco de dados</p>
      <p class="description-subtitle">Repositórios</p>
      <p class="description-text">Abstração da lógica de acesso aos dados, promovendo um design desacoplado e fácil de testar</p>
      <p class="description-subtitle">Validação de Dados</p> 
      <p class="description-text"> Implementação de validações consistentes com o FluentValidation, garantindo a integridade dos dados</p>
      <p class="description-subtitle">Testes Unitários</p> 
      <p class="description-text"> Adoção de práticas de testes unitários utilizando XUnit e Moq para assegurar a qualidade e a confiabilidade do código</p> 
      <p class="description-subtitle">Interface Razor Views</p>
      <p class="description-text">Garantindo uma experiência   e responsiva para os usuários</p>
    </div>
  </div>

</div>
