<div class="my-project">Projects</div>
<div class="main-portfolio-containers">
  <div class="image-and-description-container">
    <div class="image-container"></div>
    <div class="description-container">
      <p>Personal Financial Manager: app made using .net 8, DDD and and and</p>
      <p>Technologies: Asp.Net Core, Razor Pages</p>
    </div>
  </div>
  <div class="image-and-description-container">
    <div class="image-container"></div>
    <div class="description-container"></div>
  </div>
</div>
