<div class="my-project">Projects</div>

<div class="main-portfolio-containers">

  <div class="image-and-description-container">
    <a href="https://github.com/leonardolucusi/pro-app/tree/master" style="text-decoration: none;" target="_blank">
      <div class="image-container">
        <img class="image1" src="assets/pro-app-logo.png" alt="Página de login do aplicativo Pro">
      </div> 
    </a>
    <div class="description-container">
      <p>ProApp</p>
      <p class="description-text">O ProAPP é uma aplicação desenvolvida para fornecer autenticação segura e eficiente, utilizando JWT Tokens. Este projeto foi construído com .NET 8 e o framework ASP.NET Core, garantindo uma base sólida, escalabilidade e desempenho otimizado.</p>
      <p class="description-subtitle">Framework Backend: Asp.Net Core</p>
      <p class="description-text">Utilizei o poderoso framework Asp.Net Core para criar uma base sólida para o aplicativo usando .Net 8, garantindo escalabilidade e desempenho otimizado.</p>
      <p class="description-subtitle">Páginas Razor: Razor Pages</p>
      <p class="description-text">Desenvolvi interfaces de usuário dinâmicas e interativas com o uso das Razor Pages, garantindo uma experiência fluida e responsiva para os usuários.</p>
      <p class="description-subtitle">Autenticação com Jwt Tokens: Jwt Tokens</p>
      <p class="description-text">Implementei um sistema de autenticação avançado e seguro, utilizando Jwt Tokens, garantindo a integridade e a confidencialidade dos dados dos usuários.</p>
    </div>
  </div>

  <div class="image-and-description-container">
    <a href="https://github.com/leonardolucusi/Notes" style="text-decoration: none;" target="_blank">
      <div class="image-container">
        <img class="image1" src="assets/notes-logo.png" alt="Swagger Endpoints Notes App">
      </div>
    </a>
    <div class="description-container">
      <p>Notes API</p>
      <p>A Notes API é uma aplicação desenvolvida para organizar anotações, oferecendo uma solução robusta e escalável para o gerenciamento eficiente de dados. </p>
      <p class="description-text">Este projeto foi construído utilizando tecnologias modernas e seguindo as melhores práticas de desenvolvimento de software.</p>
      <p class="description-subtitle">.NET Core 8</p> 
      <p class="description-text"> Plataforma de desenvolvimento de alto desempenho e com suporte para construção de aplicações escaláveis.</p>
      <p class="description-subtitle">Arquitetura Limpa</p> 
      <p class="description-text"> Separação clara de responsabilidades com camadas distintas (Core/Domain, Infrastructure, Application, API/Interface), promovendo alta testabilidade e manutenção do código.</p>
      <p class="description-subtitle">CQRS (Command Query Responsibility Segregation)</p>
      <p class="description-text">Separação de operações de leitura e escrita, otimizando o desempenho e a organização do código.</p>
      <p class="description-subtitle">Banco de Dados SQL Server</p> 
      <p class="description-text"> Utilização de banco de dados relacional confiável e eficiente.</p>
      <p class="description-subtitle">Entity Framework Core</p> 
      <p class="description-text"> ORM robusto para mapeamento objeto-relacional, facilitando a interação com o banco de dados.</p>
      <p class="description-subtitle">Padrão Repository</p> 
      <p class="description-text"> Abstração da lógica de acesso aos dados, promovendo um design desacoplado e fácil de testar.</p>
      <p class="description-subtitle">Validação de Dados</p> 
      <p class="description-text"> Implementação de validações consistentes com o FluentValidation, garantindo a integridade dos dados.</p>
      <p class="description-subtitle">Testes Unitários</p> 
      <p class="description-text"> Adoção de práticas de testes unitários utilizando XUnit e Moq para assegurar a qualidade e a confiabilidade do código.</p> 
    </div>
  </div>

</div>
