.my-project {
  font-size: 64px;
  text-align: center;
}
.main-portfolio-containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.image-and-description-container {
  min-width: 500px;
  width: 500px;
  height: 475px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
  border-radius: 10px;
}
.image-container {
  width: 30px;
  height:  30px;
  text-align: center;
  /* background: url(../../assets/image-placeholder.jpg) no-repeat center center; */
  background-size: cover;

}
.image1 {
  width: 100%;
  height: 100%;
  /* background: url(assets/pro-app-login-page.png) no-repeat center center; */
  background-size: cover;  
  border-radius: 10px;
}
.description-container {
  min-width: 250px;
  width: 500px;
  font-size: 18px;  
  overflow-y: scroll; 
  max-height: 720px; 
}
.description-container p:not(:first-of-type) {
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 400px) {
  .image-and-description-container {
    flex-direction: column;
    width: 250px;
    height: 1440px;
  }
  .image-container {
    width: auto;
  }
  .description-container {
    width: auto;
  }
}
.description-subtitle{
  padding-bottom: 20px;
  text-align: center;
  margin-left:0.5em;
  font-size: 1.1em;
  /* background-color: #9797970a; */
  color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 255, 255, 255, 1 rgb(0, 0, 0);
}
.description-text-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.description-text{
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #dadada7c;
  border-radius: 10px;
  margin-left:0.5em;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
  box-shadow: 255, 255, 255, 0.5 rgb(0, 0, 0);
}
/* TITLES */
.microshop-title{
  text-align: center; 
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(to right, #2c5c6e, #41ddd0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.proapp-title{
  text-align: center; 
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(to right, #ffffff, #534f1c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.notesapi-title{  
  text-align: center; 
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(to right, #ffffff, #d0a37b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}