.main-items {
    max-width: 1128px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1000px 1000px 1000px;
    opacity: 0.85;

}

.items {
    /* must be equal to navbar height*/
    margin-top: 3rem;
}