:root {
    --small-font-size-color: rgb(208, 208, 208);
    --body-back-ground-color: rgb(48, 48, 48);
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0)
}   

* { 
    font-family: 'Cinzel', serif;
    color: white;
}

div {
    /* border: 1px solid rgb(248, 12, 12);   */
}   

::-webkit-scrollbar {
    width: 12px;
    /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #4caf50;
    /* Set the color of the thumb */
    border-radius: 6px;
    /* Set the border radius of the thumb */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Set the color of the track */
}
