<div class="main-home">
  <div class="name generic">
    <div>Leonardo Lucusi</div>
    <div style="font-size: 40px; color: rgb(201, 201, 201)">Engenheiro de Software .NET e Desenvolvedor de Jogos (Unity3D / C#) - Júnior</div>
  </div>

  <div class="stacks generic">
    <div>Stacks</div>
    <div>
      <!-- <img class="stack-images" src="assets/angular.svg" /> -->
      <!-- <img class="stack-images" src="assets/typescript-plain.svg" /> -->
      <!-- <img class="stack-images" src="assets/html.svg" /> -->
      <!-- <img class="stack-images" src="assets/css.svg" /> -->
      <img class="netcore-stack" src="assets/net-core.png" />
      <img class="stack-images" src="assets/csharp-original.svg" />
      <img class="unity-stack" src="assets/icons8-unity-64.png" />
    </div>
  </div>
</div>
