<div class="main-home">
  <div class="name generic">
    <div style="color:rgb(240, 240, 240);">Leonardo Lucusi</div>
    <div style="font-size: 25px; color: rgb(201, 201, 201)">.NET Software Engineer & Game Developer (Unity3D / C#) - Junior</div>
  </div>

  <div class="stacks generic">
    <div>Stacks</div>
    <div>
      <!-- <img class="stack-images" src="assets/angular.svg" /> -->
      <!-- <img class="stack-images" src="assets/typescript-plain.svg" /> -->
      <!-- <img class="stack-images" src="assets/html.svg" /> -->
      <!-- <img class="stack-images" src="assets/css.svg" /> -->
      <img class="netcore-stack" src="assets/net-core.png" />
      <img class="stack-images" src="assets/csharp-original.svg" />
      <img class="unity-stack" src="assets/icons8-unity-64.png" />
    </div>
  </div>

  <div class="contact generic">
    <div>Contact</div>
    <div>
      <a target="_blank" href="https://github.com/leonardolucusi">
        <img class="github-image" src="assets/icons8-github-60.png" />
      </a>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/leonardo-lucusi-725766156/"
      >
        <img class="linkedin-image" src="assets/icons8-linkedin-48.png" />
      </a>
    </div>
  </div>
</div>
