/* @keyframes moveIt {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
} */


.main-home {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(33.33%, 1fr));
    /* border: 1px solid red; */
    /* background-color: rgb(0, 156, 156); */

    /* background-color: var(--body-back-ground-color); */

    /* background: url(../../assets/cool-background.png) no-repeat center center; */
    /* background-size: cover; */
    /* animation: moveIt 10s linear infinite; */
}

.generic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

/* NAME */
.name {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.name>div:nth-child(1) {
    font-size: 48px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.name>div:nth-child(2) {
    font-size: 20px;
    color: var(--small-font-size-color);
    padding-left: 20px;
    padding-right: 20px;
}

/* STACK */
.stacks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stacks.generic>div:nth-child(1) {
    font-size: 48px;
    padding-bottom: 10px;
}

@media (max-width:430px) {
    .stacks.generic>div:nth-child(2) {
        padding-left: 30px;
    }
}


.netcore-stack {
    padding-right: 10px;
    width: 55px;
    height: 55px;
}

.unity-stack {
    width: 60px;
    height: 60px;
}

.stack-images {
    padding-right: 10px;
    width: 50px;
    height: 50px;
}

/* CONTACT */
.contact {
    display: flex;
    flex-direction: column;
}

.contact>div:first-child {
    font-size: 42px;
}

.linkedin-image {
    width: 48px;
    height: 48px;
    z-index: 10;
}

.github-image {
    width: 50px;
    height: 50px;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}